<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        {% if data_css %}
        {{ ui_kit_styles_url | style(data_css) | safe }}
        {{ client_settings_change_email_styles_url | style(data_css) | safe }}
        {% else %}
        {{ ui_kit_styles_url | style() | safe }}
        {{ client_settings_change_email_styles_url | style() | safe }}
        {% endif %}
    </style>
</head>
<body onload="validator_with_error_message_checker()">
<form method="post">
    {{ form.hidden_tag() }}
    <label>Email: {{ form.email(class="email_field", onchange="validator()", onkeydown="validator()") }}</label>
    {{ form.submit(id="submit_button") }}
</form>
<p id="error_message" class="error_message">{{ get_flashed_messages()[0] }}</p>
<a href="{{ client_settings_url }}">назад</a>
</body>
<script defer>
    {% if data_js %}
    {{ client_settings_change_email_script_url | script(data_js) | safe }}
    {% else %}
    {{ client_settings_change_email_script_url | script() | safe }}
    {% endif %}
</script>
</html>