<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        {% if data_css %}
        {{ ui_kit_styles_url | style(data_css) | safe }}
        {{ client_settings_styles_url | style(data_css) | safe }}
        {% else %}
        {{ ui_kit_styles_url | style() | safe }}
        {{ client_settings_styles_url | style() | safe }}
        {% endif %}
    </style>
</head>
<body>
<h1>Настройки - клиент</h1>
<p>{{ user_info["name"] }} <a href="{{ client_settings_change_name_url }}">-></a> </p>
<p>{{ user_info["email"] }} <a href="{{ client_settings_change_email_url }}">-></a> </p>
<p>{{ "Приватный" if user_info["is_private"] else "Стандартный" }}</p>
<a href="{{ client_main_url }}">назад</a>
<a href="{{ client_logout_url }}">выйти</a>
</body>
<script defer>
    {% if data_js %}
    {{ client_settings_script_url | script(data_js) | safe }}
    {% else %}
    {{ client_settings_script_url | script() | safe }}
    {% endif %}
</script>
</html>