<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        {% if data_css %}
        {{ ui_kit_styles_url | style(data_css) | safe }}
        {{ client_styles_url | style(data_css) | safe }}
        {% else %}
        {{ ui_kit_styles_url | style() | safe }}
        {{ client_styles_url | style() | safe }}
        {% endif %}
    </style>
    <script type="text/javascript" src='{{ url_for("static", filename="js/libs/qrcode.js") }}'></script>
</head>
<body onload="on_load()">
<h1>Клиент</h1>
<p>{{ user_id }}</p>
<div id="qrcode"></div>
{% for elem in active %}
<p>
    <img src="{{ url_for('organization_picture_get', id=elem.organization.id) }}">
    {{ elem.organization.title }} - {{ elem.accumulated }} из {{ elem.organization.limit }}
</p>
{% endfor %}
<a href="{{ client_settings_url }}">настройки</a>
</body>
<script defer>
    {% if data_js %}
    {{ client_script_url | script(data_js) | safe }}
    {% else %}
    {{ client_script_url | script() | safe }}
    {% endif %}
</script>
</html>